* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 80%;
  margin: auto;
}

.section {
  background-color: #0f172a;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section h2 {
  margin-bottom: 10px;
  color: #fff;
}

.section p {
  margin-bottom: 20px;
  width: 500px;
  line-height: 25px;
  color: #d8d8d8;
}

.section button {
  padding: 10px 20px;
  background-color: #fff;
  color: #0f172a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section button:hover {
  background-color: #ddd;
}

/*  cards */
.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.card {
  width: 300px;
  height: 60px;
  line-height: 1.5em;
}

.card .card-icon {
  width: 50px;
}

.card .card-title {
  font-weight: 700;
  color: #373c40;
  height: 60px; /* Establecer una altura fija para todos los títulos */
}

.card p {
  color: hsl(207.69deg 6.95% 63.33%);
}
